<% provide(:title, "Log in") %>
  <center>
    <h1>Sign in</h1>
  </center>
  <div class='row justify-content-center align-items-center h-100'>
    <div class='col col-sm-6 col-md-6 col-lg-4 col-xl-3'>
      <%= form_for @user, url: '/sign_in' do |f| %>
      <div class="form-group">
        <%=f.label :email %>
        <%=f.text_field :email, class: 'form-control'%>
      </div>

      <div class="form-group">
        <%=f.label :password %>
        <%=f.password_field :password, class: 'form-control'%>
      </div>
      <%= label_tag :remember_me, class: "checkbox inline" do %>
        <%= check_box_tag :remember_me, '1', false, name: 'user[remember_me]' %>
        <span>Remember me on this computer</span>
    <%end%>
    <%= f.submit 'Log in', class: 'btn btn-primary' %>

  <%end%>
  <p>New user?
    <%= link_to "Sign up now!", sign_up_path %>
  </p>
</div>
</div>
