<%= form_for @comment do |f| %>
<div class="form-group">
  <%= f.label :content %>
  <%= f.text_area :content, class: 'form-control', placeholder: 'Write your comment' %>
</div>

<%= f.submit 'Comment', class: 'btn btn-outline-secondary' %>
<% end %>
