<p> Hi, <%=@user.name %> </p>
Plase confirm email at here !!!

Please click on this <%= link_to 'active link', active_account_url(@user.activation_token, email: @user.email) %> to active your account !!!
