<div class='row justify-content-center align-items-center h-100'>
  <div class='col col-sm-6 col-md-6 col-lg-4 col-xl-3'>
    <center><h1>Sign up</h1></center>
    <%= form_for @user, url: '/sign_up' do |f| %>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %> </li>
        <%end%>
      </ul>
      <div class="form-group">
        <%=f.label :name %>
        <%=f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%=f.label :email %>
        <%=f.text_field :email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%=f.label :password %>
        <%=f.password_field :password, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%=f.label :password_confirmation %>
        <%=f.password_field :password_confirmation, class: 'form-control' %>
      </div>

      <%=f.submit class:'btn btn-primary' %>
      <%= link_to 'Sign in', sign_in_path, class:'btn btn-secondary'%>
    <%end%>
  </div>
</div>
