<% @posts.each do |post| %>
  <div class="media">
    <div class="media-left">
      <img src="https://www.w3schools.com/bootstrap/img_avatar3.png" class="media-object" style="width:45px">
    </div>
    <div class="media-body">
      <h4 class="media-heading"><%= post.user.name %>
        <small>
          <i>Posted on
            <%= post.created_at %></i>
        </small>
      </h4>
      <p><%= link_to post.content, micropost_path(post) %></p>
      <button><%= link_to 'Edit', edit_micropost_path(post), class: 'btn btn-outline-secondary', type: 'button' %></button>
      <button><%= link_to 'Delete', micropost_path(post), class: 'btn btn-outline-primary', type: 'button', method: :delete, data: { confirm: 'Are you sure?' } %></button>
    </div>
  </div>
<% end %>

<%= will_paginate @posts %>
