<div class='row justify-content-center align-items-center h-100'>
  <div class='col col-sm-6 col-md-6 col-lg-4 col-xl-3'>
    <center> <h1><small> CREATE NEW POST </small> </h1> </center>
    <%= form_for @post do |f| %>
      <div class="form-group">
        <%= f.label :content %>
        <%= f.text_area :content, class: 'form-control', placeholder: "Compose new micropost..." %>
      </div>
      <center><%= f.submit 'Post', class: 'btn btn-primary' %></center>
    <% end %>
  </div>
</div>
