<div class="media">
  <div class="media-left">
    <img src="https://www.w3schools.com/bootstrap/img_avatar3.png" class="media-object" style="width:45px">
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= @post.user.name %>
      <small>
        <i>Posted on
          <%= @post.created_at %></i>
      </small>
    </h4>
    <p><%= @post.content %></p>
  </div>
</div>

<%= form_for @comment do |f| %>
<div class="form-group">
  <%= f.text_field :micropost_id, :value => @post.id, type: 'hidden' %>
</div>

<div class="form-group">
  <%= f.label :content %>
  <%= f.text_area :content, class: 'form-control', placeholder: 'Write your comment' %>
</div>

<%= f.submit 'Comment', class: 'btn btn-outline-secondary' %>
<% end %>

<% @post.comments.each do |c| %>
  <div class="media">
    <div class="media-left">
      <img src="https://www.w3schools.com/bootstrap/img_avatar3.png" class="media-object" style="width:45px">
    </div>
    <div class="media-body">
      <h4 class="media-heading"><%= c.user.name %>
        <small> <i>Posted on <%= c.created_at %> </i> </small>
      </h4>
      <p><%= c.content %></p>
    </div>
  </div>
<% end %>
